{{#mol-content-info-line2}}

<div class="content-line-2__info col-12 col-lg-6">

  {{#title}}
  <h2>{{{title}}}</h2>
  {{/title}}

  <div class="content-line-2__info__parameters">
    {{#parameters}}
    {{#parameters-info}}
    <p>{{{parameters-info}}}</p>
    {{/parameters-info}}
    {{/parameters}}
  </div>
  <div class="content-line-2__info__description">
    {{#description}}
    <p>{{{description}}}
      {{/description}}
    </p>
  </div>

</div>

{{/mol-content-info-line2}}