.header {
  padding-top: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 66666;
  .btn--default {
    margin-left: 5px;
  }
}

.main-baner {
  padding-top: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-bottom: 150px;
  position: relative;
  * {
    color: color(2);
  }
  h2 {
    font-family: $f-oldstandard;
    font-size: 9.375rem;
    margin: 0;
    padding: 0;
    line-height: 9.375rem;
    letter-spacing: 6px;
  }
  p {
    font-family: $f-helvetica-light;
    font-size: 1.5rem;
    margin: 70px 0 190px 0;
    padding: 0;
    opacity: .6;
    b {
      font-family: $f-helvetica-bold;
      font-size: 1.875rem;
    }
  }
  h3 {
    font-family: $f-oldstandard;
    font-size: 2.875;
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
  }
  .arr--down {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
  }
}

.footer-main {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #445489;
  padding: 70px 0 56px;
  &__list {
    display: inline-block;
    position: relative;
    ul {
      list-style: none;
      color: color(2);
      padding: 0;
      margin: 0;
      &:after {
        content: '';
        display: block;
        margin: 0 auto;
        width: 90%;
        height: 1px;
        max-width: 778px;
        background-image: linear-gradient(to right, transparent 0%, currentColor 50%, transparent 100%);
      }
      li {
        position: relative;
        display: inline-block;
        padding-right: 30px;
        &:last-child {
          padding-right: 0px;
        }
        a {
          font-family: $f-exo-bold;
          display: inline-block;
          color: color(2);
          font-size: 1.25rem;
          text-decoration: none;
          transition: all .3s ease-in-out;
          &:hover {
            color: color(3);
            transition: all .3s ease-in-out;
          }
        }
      }
    }
  }
  &__social {
    position: relative;
    display: inliene-block;
    padding: 0;
    margin-top: 20px;
    a {
      padding: 7px;
    }
  }
}

.subscribe {
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
  padding: 65px 0;
  h2 {
    font-size: 3rem;
    font-family: $f-oldstandard;
    margin: 0;
    padding: 0;
    color: color(3);
    &:after {
      content: '';
      display: block;
      margin: 0 auto;
      width: 90%;
      height: 1px;
      max-width: 778px;
      background-image: linear-gradient(to right, transparent 0%, currentColor 50%, transparent 100%);
    }
  }
  &__form {
    margin: 0 auto;
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 50px;
    input.email-form {
      border: 2px solid #e45858;
      border-radius: 30px;
      width: 250px;
      height: 60px;
      outline: 0;
      font-size: 1.2rem;
      padding: 0 20px;
      color: #e45858;
      background-color: #fff;
      margin-right: 15px;
    }
    p {
      font-family: $f-exo-light;
      margin: 0;
      padding: 30px 0 0 0;
      color: #8f8f8f;
      font-size: 0.875rem;
    }
  }
}

.content-line-2 {
  width: 100%;
  height: auto;
  position: relative;
  &__info {
    h2 {
      color: #525252;
      font-family: $f-oldstandard;
      font-size: 4.5rem;
      margin: 100px 0 85px 0;
      padding: 0;
      line-height: 15px;
    }
    &__parameters {
      p {
        color: #8f8f8f;
        font-size: 1.5rem;
        font-family: $f-helvetica-light;
        padding: 0;
        margin: 0 0 20px 0;
        &:last-child {
          margin: 0 0 40px 0;
        }
        span {
          color: color(5);
          font-family: $f-helvetica-bold;
          font-size: 1.5rem;
          margin: 0 30px 0 0;
          text-transform: uppercase;
        }
      }
    }
    &__description {
      p {
        color: #8f8f8f;
        font-family: $f-exo-bold;
        margin: 0;
        display: inline-block;
        line-height: 1.5rem;
        span.signature {
          line-height: 1rem;
          color: #e45858;
          font-family: $f-brushscript;
          font-size: 2.9rem;
          margin: 0 0 0 85px;
          display: inline-block;
          position: relative;
          transform: translate(0, 100%);
        }
      }
    }
  }
  &__image {
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.our-story {
  width: 100%;
  height: auto;
  position: relative;
  padding: 100px 0 155px 0;
  overflow: hidden;
  &__dotted {
    text-align: center;
    max-width: 130px;
    width: 100%;
    display: inline-block;
    margin: 0 auto 50px;
    background-color: #fff;
    position: relative;
    &:before,
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 768px;
      position: absolute;
      top: 50%;
    }
    &:before {
      right: calc(100% + 1px);
      background-image: linear-gradient(to right, transparent 0%, rgba(color(5), .41) 100%);
    }
    &:after {
      left: calc(100% + 1px);
      background-image: linear-gradient(to left, transparent 0%, rgba(color(5), .41) 100%);
    }
    &__dot {
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: color(5);
      border-radius: 50%;
      margin-right: 10px;
      &:last-child {
        margin: 0;
      }
    }
  }
  &__description {
    p {
      margin: 0;
      padding: 0;
      width: 100%;
      font-size: 1.5rem;
      font-family: Exo-Light, Tahoma, sans-serif;
      color: #8f8f8f;
      max-width: 780px;
      margin: 0 auto;
    }
  }
}

.poll {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 0;
  position: relative;
  &__item {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow: hidden;
    &:hover {
      text-decoration: none;
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 500;
      background-color: color(5);
      opacity: 0.5;
    }
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 600;
      background-color: color(3);
      opacity: 0;
      transition: all .3s ease-in-out;
    }
    &:hover {
      &:after {
        opacity: 1;
      }
    }
    &:first-child {
      left: 0;
      z-index: 100;
    }
    &:nth-child(2) {
      left: 25%;
      z-index: 200;
      width: 35%;
      transform: translate(-25%, 0);
    }
    &:nth-child(3) {
      left: 50%;
      z-index: 300;
      width: 35%;
      transform: translate(-25%, 0);
    }
    &:last-child {
      right: 0;
      z-index: 100;
      width: 35%;
    }
    &__title {
      z-index: 800;
      color: color(2);
      h2 {
        color: color(2);
        font-size: 3.125rem;
        font-family: $f-oldstandard;
        margin: 0;
      }
      p {
        color: color(2);
        font-size: 1.625rem;
        font-family: Exo-Light, Tahoma, sans-serif;
        max-width: 240px;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.first-title-style {
  color: color(2);
  font-size: 4.5rem !important;
}

.upgrade-default-btn {
  width: 360px;
  height: 65px;
  margin-top: 50px;
  font-size: 1.5rem;
  line-height: 1.1;
}

.home-top-title {
  font-size: 1.875rem;
  color: color(2);
  opacity: .5;
  font-family: $f-exo-regular;
}

.mb-300 {
  margin-bottom: 300px !important;
}

//NEW MENU
/*  COLORS
========================================== */

/*  FONTS
========================================== */

/*  MIXINS
========================================== */

/*  RESET
========================================== */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

body.overflow {
  overflow: hidden;
}

/*  BURGER
========================================== */

.burger {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40px;
  right: 20px;
  z-index: 10;
}

.burger span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1.5px;
}

.burger span,
.burger span::before,
.burger span::after {
  display: block;
  border-radius: 10px;
  width: 40px;
  height: 5px;
  background-color: color(2);
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.burger span::before,
.burger span::after {
  position: absolute;
  content: "";
}

.burger span::before {
  top: -9px;
}

.burger span::after {
  top: 9px;
}

.burger.clicked span {
  background-color: transparent;
}

.burger.clicked span::before {
  -webkit-transform: translateY(9px) rotate(45deg);
  -moz-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}

.burger.clicked span::after {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -moz-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}

.burger.clicked span:before,
.burger.clicked span:after {
  background-color: color(5);
}

.burger:hover {
  cursor: pointer;
}

.responsive-btn {
  background-color: color(5);
}

/*  NAV
========================================== */

nav {
  background-color: #2a2a2a;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: auto;
  max-width: 515px;
  width: 100%;
  padding: 100px 40px 60px 40px;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

nav.show {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  background-color: color(3);
  transition: all .3s ease-in-out;
}

nav.show ul.main li {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
  border-bottom: 1px solid #e97474;
  min-height: 60px;
  margin: 0;
  display: flex;
  align-items: center;
}

nav.show ul.main li:hover {
  color: black;
}

nav.show ul.main li:nth-child(1) {
  transition-delay: 0.15s;
}

nav.show ul.main li:nth-child(2) {
  transition-delay: 0.3s;
}

nav.show ul.main li:nth-child(3) {
  transition-delay: 0.45s;
}

nav.show ul.main li:nth-child(4) {
  transition-delay: 0.6s;
}

nav.show ul.main li:nth-child(5) {
  transition-delay: 0.75s;
}

nav.show ul.main li:nth-child(6) {
  transition-delay: 0.9s;
}

nav.show ul.main li:nth-child(7) {
  transition-delay: 1.05s;
}

nav.show ul.main li:nth-child(8) {
  transition-delay: 1.2s;
}

nav.show ul.main li:nth-child(9) {
  transition-delay: 1.35s;
}

nav.show .about,
nav.show .social,
nav.show ul.sub {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  transition-delay: .85s;
}

@media (min-width: 667px) {
  nav {
    padding: 100px 0;
    transition: all .3s ease-in-out;
  }
}

nav ul.main {
  list-style-type: none;
  transition: all .3s ease-in-out;
  margin: 0 0 30px 0;
}

nav ul.main li {
  margin-bottom: 20px;
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul.main li:last-of-type {
  margin-bottom: 0px;
}

nav ul.main li a {
  color: color(2);
  font-family: $f-exo-light;
  text-decoration: none;
  font-size: 1rem;
  display: block;
  letter-spacing: 5px;
  padding: 10px 0 0 50px;
  transition: all 0.3s ease;
  min-height: 60px;
  display: flex;
  align-items: center;
  width: 100%;
  transition: all .3s ease-in-out;
}

nav ul.main li a span {
  color: #b7ac7f;
}

nav ul.main li a:hover {
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  box-shadow: 0 0px 20px #db4343;
}

nav .about {
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav .about p {
  color: #ffffff;
  font-family: "Spectral", serif;
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  line-height: 170%;
}

nav .social {
  margin-top: 40px;
  position: relative;
  padding-bottom: 30px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav .social:after {
  content: "";
  width: 230px;
  height: 2px;
  background-color: #b7ac7f;
  position: absolute;
  bottom: 0;
  left: 0;
}

nav .social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 25px;
}

nav .social a:last-of-type {
  margin-right: 0px;
}

nav .social a:hover svg path,
nav .social a:hover svg circle {
  fill: #b7ac7f;
}

nav .social a svg {
  width: 100%;
  height: 100%;
}

nav .social a svg path,
nav .social a svg circle {
  fill: #ffffff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul.sub {
  list-style-type: none;
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav ul.sub li {
  margin-bottom: 10px;
}

nav ul.sub li:last-of-type {
  margin-bottom: 0px;
}

nav ul.sub li a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul.sub li a:hover {
  color: #b7ac7f;
}

/*  OVERLAY
========================================== */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #b7ac7f;
  opacity: 0;
  visibility: hidden;
}

.overlay.show {
  opacity: 0.8;
  visibility: visible;
}

.logo-block img {
  width: 130px;
  padding: 10px;
}

.canvass-1__content {
  width: 100%;
  height: auto;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 350px;
  padding: 30px 0;
}

.canvass-1__content__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fa-chevron-right:before {
  content: "\f054";
  padding-left: 60px;
}

.canvass-btn-next {
  width: 360px;
}

.canvass-btn-prew {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: color(3);
  padding: 25px;
  text-transform: uppercase;
  font-family: HelveticaNeueCyr-Bold, Tahoma, sans-serif;
  text-align: center;
  color: #fff;
  margin-right: 5px;
  outline: none;
}

.canvass-btn-prew:hover {
  color: #fff;
}

.my-select {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.canvass-1__content__selector {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.canvass-1__content__selector h2 {
  font-family: $f-oldstandard;
  font-size: 3rem;
  color: color(2);
}

.canvass-1 {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.canvass-1-title {
  font-size: 3rem;
  font-family: $f-oldstandard;
  color: color(2);
  width: 100%;
  text-align: left;
}



.canvass-1-radio-btn {
  margin: 50px 0 125px 0;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]+label {
  color: color(2);
  font-family: Arial, sans-serif;
  font-size: 14px;
}

input[type="radio"]+label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 15px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  background-color: color(2);
}

input[type="radio"]:checked+label span {
  background-color: color(3);
  border: 1px solid color(2);
}

input[type="radio"]+label span,
input[type="radio"]:checked+label span {
  transition: background-color 0.4s linear;
}

.filter-form-style [type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.filter-form-style [type="checkbox"]:checked+label,
[type="checkbox"]:not(:checked)+label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  line-height: 1;
  display: inline-block;
  color: #fff;
}

.filter-form-style [type="checkbox"]:checked+label:before,
[type="checkbox"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid color(3);
  background: #fff;
  border-radius: 10px;
}

.filter-form-style [type="checkbox"]:checked+label:after,
[type="checkbox"]:not(:checked)+label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: color(3);
  border-radius: 10px;
  position: absolute;
  top: 3px;
  left: 3px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.filter-form-style [type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
}

.filter-form-style [type="checkbox"]:checked+label:after {
  opacity: 1;
}

.filter-form-style [type="checkbox"]:disabled:checked+label:before,
[type="checkbox"]:disabled:not(:checked)+label:before {
  border-color: #ccc;
  background-color: #eee;
}

.filter-form-style [type="checkbox"]:disabled:checked+label:after {
  background: #aaa;
}

.canvass-btn-prew:hover {
  color: #fff;
  background-color: #e86e6e;
}

.last-step {
  width: 100%;
  height: auto;
  position: relative;
  max-width: 750px;
  margin: 0 auto;
}

.last-step__form h2 {
  font-size: 2.25rem;
  font-family: $f-exo-light;
  color: color(2);
}

.last-step__form__input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  margin: 38px 0 60px 0;
}

.last-step__form__input label {
  padding: 0 15px 0 0;
  margin: 0;
}

.name-input,
.last-name-input,
.email-input {
  border-radius: 30px;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 10px;
  height: 60px;
  width: 360px;
  outline: none;
  color: #fff;
  margin: 0 10px 10px 0;
  font-family: $f-exo-light;
  font-size: 1.5rem;
  &:last-child {
    margin: 0;
  }
}

.select-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 75px;
}

.select-container select {
  border-radius: 30px;
  outline: none;
  max-width: 360px;
  width: 100%;
  height: 60px;
  padding-left: 20px;
}

.send-button {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 85px;
}

.enquiry-btn {
  width: 360px;
}

.slick-arrow.slick-hidden {
  display: block;
}

.pricing {
  padding: 200px 0 0 0;
  overflow: hidden;
  &__title {
    padding: 100px 0;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 4.5rem;
      color: color(2);
      font-family: $f-oldstandard;
      margin: 0;
      padding: 0;
      &:after {
        content: '';
        display: block;
        margin: 0 auto;
        width: 90%;
        height: 1px;
        max-width: 778px;
        background-image: linear-gradient(to right, transparent 0%, currentColor 50%, transparent 100%);
      }
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding: 60px 0 100px 0;
    &__main {
      margin: 0 auto;
      max-width: 1170px;
      min-height: 880px;
      text-align: center;
      height: auto;
      position: relative;
      z-index: 1;
      .numeric-wrapper {
        top: 0;
        left: 0;
      }
      .numeric {
        display: block;
        position: relative;
        &:first-child {
          position: absolute;
          top: 20%;
          z-index: 99;
          left: 12%;
          transform: translate(-40%, 0);
          .numeric__circle {
            background-color: color(2);
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin: 0 auto;
            h2 {
              font-size: 15.125rem;
              top: -8px;
              right: 11%;
              position: absolute;
              color: #e45858;
              font-family: $f-oldstandard;
            }
          }
          .numeric__description {
            color: color(2);
            font-family: $f-exo-light;
            margin-top: 30px;
            max-width: 255px;
          }
        }
        &:nth-child(2) {
          position: absolute;
          top: 15%;
          left: 50%;
          -webkit-transform: translate(-20%, -50%);
          transform: translate(-50%, -50%);
          .numeric__circle {
            background-color: color(2);
            width: 105px;
            height: 105px;
            border-radius: 50%;
            margin: 0 auto;
            h2 {
              font-size: 7.25rem;
              color: #e45858;
              position: absolute;
              font-family: OldStandard, Tahoma, sans-serif;
              top: 5%;
              right: 21%;
            }
          }
          .numeric__description {
            color: color(2);
            font-family: $f-exo-light;
            margin-top: 30px;
            max-width: 245px;
          }
        }
        &:nth-child(3) {
          position: absolute;
          top: 16%;
          right: 6%;
          -webkit-transform: translate(-30%, 0);
          transform: translate(-20%, 0);
          .numeric__circle {
            background-color: color(3);
            width: 140px;
            height: 140px;
            border-radius: 50%;
            margin: 0 auto;
            h2 {
              font-size: 10.8rem;
              color: color(2);
              position: absolute;
              font-family: OldStandard, Tahoma, sans-serif;
              top: -2%;
              right: 15%;
            }
          }
          .numeric__description {
            color: #8f8f8f;
            font-family: $f-exo-light;
            margin-top: 30px;
            max-width: 180px;
          }
        }
        &:nth-child(4) {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(-50%, 0);
          .numeric__circle {
            background-color: color(3);
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin: 0 auto;
            h2 {
              font-size: 5rem;
              color: #fff;
              position: absolute;
              font-family: OldStandard, Tahoma, sans-serif;
              top: -13%;
              right: 30%;
            }
          }
          .numeric__description {
            color: #8f8f8f;
            font-family: $f-exo-light;
            margin-top: 30px;
            max-width: 220px;
          }
        }
        &:nth-child(5) {
          position: absolute;
          top: 80%;
          right: 25%;
          -webkit-transform: translate(-90%, -30%);
          transform: translate(80%, -25%);
          .numeric__circle {
            background-color: color(3);
            width: 165px;
            height: 165px;
            border-radius: 50%;
            margin: 0 auto;
            h2 {
              font-size: 12.125rem;
              color: #fff;
              position: absolute;
              font-family: OldStandard, Tahoma, sans-serif;
              top: 0%;
              right: 30%;
            }
          }
          .numeric__description {
            color: #8f8f8f;
            font-family: $f-exo-light;
            margin-top: 30px;
            max-width: 395px;
          }
        }
        &:nth-child(6) {
          position: absolute;
          top: 100%;
          left: 50%;
          -webkit-transform: translate(-100%, -50%);
          transform: translate(-50%, -100%);
          .numeric__circle {
            background-color: color(3);
            width: 90px;
            height: 90px;
            border-radius: 50%;
            margin: 0 auto;
            h2 {
              font-size: 6.43rem;
              color: #fff;
              position: absolute;
              font-family: OldStandard, Tahoma, sans-serif;
              top: 4%;
              right: 34%;
            }
          }
          .numeric__description {
            color: #8f8f8f;
            font-family: $f-exo-light;
            max-width: 130px;
            margin-top: 30px;
          }
        }
        &:nth-child(7) {
          position: absolute;
          top: 75%;
          left: 28%;
          transform: translate(-90%, -20%);
         
          .numeric__circle {
            background-color: color(2);
            width: 160px;
            height: 160px;
            border-radius: 50%;
            margin: 0 auto;
            &:after {
              content: '';
              display: block;
              margin: 0 auto;
              width: 90%;
              height: 1px;
              max-width: 778px;
            }
            h2 {
              font-size: 11.5rem;
              color: #e45858;
              position: absolute;
              font-family: OldStandard, Tahoma, sans-serif;
              top: 1%;
              right: 19%;
            }
          }
          .numeric__description {
            color: color(2);
            font-family: $f-exo-light;
            max-width: 240px;
            margin-top: 30px;
          }
        }
      }
    }
  }
}

.central-info-block {
  text-align: center;
  height: auto;
  background-color: color(2);
  color: #445489;
  font-family: $f-exo-regular;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.25rem;
  z-index: 99999;
}

.central-info-block span {
  font-size: 1.875rem;
}

.central-info-block p {
  margin: 0;
  padding: 0;
}






@media screen and (max-width: 992px) {
  .main-baner h2 {
    font-family: OldStandard, Tahoma, sans-serif;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
    line-height: 2.1rem;
    font-size: 1.5rem !important;
    letter-spacing: 6px;
  }
  .main-baner {
    padding-top: 190px;
    padding-bottom: 50px;
  }
  .main-baner h3 {
    font-size: 1.2rem;
    margin-top: 45px;
  }
  .content-line {
    padding: 100px 0 0 0;
  }
  .title-with-underline h2 {
    font-size: 1.8rem;
  }
  .get-started__top p {
    font-size: 1rem;
  }
  .btn--get-started span {
    font-size: 1rem;
    padding: 20px 45px;
  }
  .get-started .btn {
    margin: 65px 0 65px;
  }
  .get-started__bottom p {
    font-size: 1.5rem;
  }
  .content-line-2__info h2 {
    font-size: 3.5rem;
    margin: 85px 0 60px 0;
    line-height: 12px;
    text-align: center;
  }
  .content-line-2__info__parameters p span {
    font-size: 1.2rem;
  }
  .content-line-2__info__parameters p {
    font-size: 1.2rem;
  }
  .content-line-2__info__description p {
    font-size: 1rem;
    padding-bottom: 35px;
  }
  .subscribe h2 {
    font-size: 1.8rem;
  }
  .subscribe__form input.email-form {
    margin: 0 0 20px 0;
  }
  .subscribe__form p {
    font-size: 1rem;
  }
  .footer-main__list ul li {
    padding-right: 0;
  }
  .footer-main__list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-main {
    padding: 40px 0 40px;
  }
  .footer-main__social a {
    padding: 10px;
  }
  .footer-main__list ul li a {
    padding-bottom: 5px;
  }
  .mb-300 {
    margin-bottom: 60px !important;
  }
  .home-top-title {
    margin-bottom: 20px;
    font-size: 1rem;
  }
  .btn--default:focus,
  .btn--default:hover {
    color: #fff;
    background-color: rgba(68, 84, 137, .7);
    outline: none;
  }
  nav {
    padding: 100px 0 30px 0;
  }
  .header {
    padding-top: 25px;
  }
  .main-baner p {
    font-size: 1.2rem;
    margin: 25px 0 0 0;
  }
  .upgrade-default-btn {
    width: 270px;
    height: 60px;
    font-size: 1.2rem;
  }
  .our-story__description p {
    font-size: 1.2rem;
  }
  .our-story {
    padding: 50px 0 40px 0;
  }
  .last-step__form h2 {
    font-size: 1.8rem;
    text-align: center;
  }
  .last-step__form__input {
    padding: 0 10px 0 10px;
    justify-content: center !important;
    margin: 30px 0 30px 0 !important;
  }
  .email-input,
  .last-name-input,
  .name-input {
    width: 300px !important;
    margin: 0 auto 10px !important;
  }
  .select-container {
    justify-content: center !important;
  }
  .select-container select {
    max-width: 300px !important;
  }
  .enquiry-btn {
    width: 300px !important;
  }
  .send-button {
    justify-content: center !important;
  }
  .canvass-1-title {
    padding: 0 10px 0 10px;
    font-size: 1.8rem;
    text-align: center;
  }
  .select-container {
    margin-top: 35px !important;
  }
  .filter-form-style {
    padding: 0 10px 0 10px !important;
  }
  .canvass-1-radio-btn {
    margin: 40px 0 40px 0 !important;
  }
  .canvass-btn-next {
    width: 300px;
    margin: 0 auto;
  }
  .style-1 {
    margin-bottom: 10px;
  }

  .pricing__content__main .numeric:first-child{
    position: relative !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    transform: translate(0,0) !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin-bottom: 40px;
  }
  .pricing__content__main .numeric:nth-child(2){
    position: relative !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    transform: translate(0,0) !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin-bottom: 40px;
  }
  .pricing__content__main .numeric:nth-child(3){
  position: relative !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    transform: translate(0,0) !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin-bottom: 40px;
  }
  .pricing__content__main .numeric:nth-child(4){
  position: relative !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  transform: translate(0,0) !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin-bottom: 40px;
  }
  .pricing__content__main .numeric:nth-child(5){
    position: relative !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    transform: translate(0,0) !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin-bottom: 40px;
  }
  .pricing__content__main .numeric:nth-child(6){
    position: relative !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    transform: translate(0,0) !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin-bottom: 40px;
  }
  .pricing__content__main .numeric:nth-child(7){
    position: relative !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    transform: translate(0,0) !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
   
  }

.numeric-wrapper{
    top: 0;
    left: 0;
    position: relative !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .pricing__content__main .numeric:first-child .numeric__circle{
    background-color: color(3) !important;
    font-size: 3.125rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  .pricing__content__main .numeric:nth-child(2) .numeric__circle{
    font-size: 3.125rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: color(3);
    &:before,
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 768px;
      position: absolute;
      top: 18%;
    }
    &:before {
      right: calc(58% + 1px);
      background-image: linear-gradient(to right, transparent 80%, rgba(color(3), .41) 100%);
    }
    &:after {
      left: calc(58% + 3px);
      background-image: linear-gradient(to left, transparent 80%, rgba(color(3), .41) 100%);
    }
  }

  .pricing__content__main .numeric:nth-child(3) .numeric__circle{
    font-size: 3.125rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    &:before,
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 768px;
      position: absolute;
      top: 18%;
    }
    &:before {
      right: calc(58% + 1px);
      background-image: linear-gradient(to right, transparent 80%, rgba(color(3), .41) 100%);
    }
    &:after {
      left: calc(58% + 3px);
      background-image: linear-gradient(to left, transparent 80%, rgba(color(3), .41) 100%);
    }
  }

  .pricing__content__main .numeric:nth-child(4) .numeric__circle{
    font-size: 3.125rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    &:before,
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 768px;
      position: absolute;
      top: 18%;
    }
    &:before {
      right: calc(58% + 1px);
      background-image: linear-gradient(to right, transparent 80%, rgba(color(3), .41) 100%);
    }
    &:after {
      left: calc(58% + 3px);
      background-image: linear-gradient(to left, transparent 80%, rgba(color(3), .41) 100%);
    }
  }

  .pricing__content__main .numeric:nth-child(5) .numeric__circle{
    font-size: 3.125rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    &:before,
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 768px;
      position: absolute;
      top: 18%;
    }
    &:before {
      right: calc(58% + 1px);
      background-image: linear-gradient(to right, transparent 80%, rgba(color(3), .41) 100%);
    }
    &:after {
      left: calc(58% + 3px);
      background-image: linear-gradient(to left, transparent 80%, rgba(color(3), .41) 100%);
    }
  }

  .pricing__content__main .numeric:nth-child(6) .numeric__circle{
    font-size: 3.125rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    &:before,
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 768px;
      position: absolute;
      top: 18%;
    }
    &:before {
      right: calc(58% + 1px);
      background-image: linear-gradient(to right, transparent 80%, rgba(color(3), .41) 100%);
    }
    &:after {
      left: calc(58% + 3px);
      background-image: linear-gradient(to left, transparent 80%, rgba(color(3), .41) 100%);
    }
  }

  .pricing__content__main .numeric:nth-child(7) .numeric__circle{
    font-size: 3.125rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: color(3);
    &:before,
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 768px;
      position: absolute;
      top: 18%;
    }
    &:before {
      right: calc(58% + 1px);
      background-image: linear-gradient(to right, transparent 80%, rgba(color(3), .41) 100%);
    }
    &:after {
      left: calc(58% + 3px);
      background-image: linear-gradient(to left, transparent 80%, rgba(color(3), .41) 100%);
    }
  }

  .pricing__content__main .numeric:first-child .numeric__circle h2{
    color: #fff!important;
    font-size: 3.125rem;
    top: 2px;
    right: -5px;
    position: relative;
  }

  .pricing__content__main .numeric:nth-child(2) .numeric__circle h2{
    color: #fff!important;
    font-size: 3.125rem;
    top: 2px;
    right: -6px;
    position: relative;
  }

  .pricing__content__main .numeric:nth-child(3) .numeric__circle h2{
    color: color(2) !important;
    font-size: 3.125rem;
    top: 2px;
    right: -6px;
    position: relative;
  }

  .pricing__content__main .numeric:nth-child(4) .numeric__circle h2{
    color: color(2) !important;
    font-size: 3.125rem;
    top: 2px;
    right: -6px;
    position: relative;
  }

  .pricing__content__main .numeric:nth-child(5) .numeric__circle h2{
    color: color(2) !important;
    font-size: 3.125rem;
    top: 2px;
    right: -6px;
    position: relative;
  }

  .pricing__content__main .numeric:nth-child(6) .numeric__circle h2{
    color: color(2) !important;
    font-size: 3.125rem;
    top: 2px;
    right: -6px;
    position: relative;
  }

  .pricing__content__main .numeric:nth-child(7) .numeric__circle h2{
    color: color(2) !important;
    font-size: 3.125rem;
    top: 2px;
    right: -6px;
    position: relative;
    
  }

  .pricing__content{
    background-image: none !important;
    background-color: color(2);
    padding: 0 0 55px 0;
  }

  .central-info-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    transform: translate(0);
    height: auto;
    width: 100%;
    margin: 25px 0 25px 0;
}

.pricing__content__main .numeric:first-child .numeric__circle {
    font-size: 3.125rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    &:before,
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 768px;
      position: absolute;
      top: 18%;
    }
    &:before {
      right: calc(58% + 1px);
      background-image: linear-gradient(to right, transparent 80%, rgba(color(3), .41) 100%);
    }
    &:after {
      left: calc(58% + 3px);
      background-image: linear-gradient(to left, transparent 80%, rgba(color(3), .41) 100%);
    }
}

.pricing__content__main .numeric:first-child .numeric__description {
  color: #8f8f8f;
  font-family: Exo-Light,Tahoma,sans-serif;
  margin-top: 10px;
  max-width: 255px;
}

.pricing__content__main .numeric:nth-child(2) .numeric__description {
  color: #8f8f8f;
  font-family: Exo-Light,Tahoma,sans-serif;
  margin-top: 10px;
  max-width: 255px;
}

.pricing__content__main .numeric:nth-child(3) .numeric__description {
  color: #8f8f8f;
  font-family: Exo-Light,Tahoma,sans-serif;
  margin-top: 10px;
  max-width: 255px;
}

.pricing__content__main .numeric:nth-child(4) .numeric__description {
  color: #8f8f8f;
  font-family: Exo-Light,Tahoma,sans-serif;
  margin-top: 10px;
  max-width: 255px;
}

.pricing__content__main .numeric:nth-child(5) .numeric__description {
  color: #8f8f8f;
  font-family: Exo-Light,Tahoma,sans-serif;
  margin-top: 10px;
  max-width: 255px;
}

.pricing__content__main .numeric:nth-child(6) .numeric__description{
  color: #8f8f8f;
  font-family: Exo-Light,Tahoma,sans-serif;
  margin-top: 10px;
  max-width: 255px;
}

.pricing__content__main .numeric:nth-child(7) .numeric__description {
  color: #8f8f8f;
  font-family: Exo-Light,Tahoma,sans-serif;
  margin-top: 10px;
  max-width: 255px;
}


.central-info-block p{
  font-size: 1rem;
}
.central-info-block p span{
  font-size: 1rem;
}

.pricing__title h2{
  font-size: 1.5rem;
}
.pricing{
  padding: 60px 0 0 0;
  overflow: hidden;
}

.numeric__description p{
  margin: 0;
}





}