.header{
  padding-top: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 66666;
  .btn--default{
    margin-left:5px ;
  }
}

.main-baner{
  padding-top: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-bottom: 150px;
  position: relative;
  *{
    color: color(2);
  }
  h2{
    font-family: $f-oldstandard;
    font-size: 9.375rem;
    margin: 0;
    padding: 0;
    line-height: 9.375rem;
    letter-spacing: 10px;
  }
  p {
    font-family: $f-helvetica-light;
    font-size: 1.5rem;
    margin: 70px 0 190px 0;
    padding: 0; 
    b {
      font-family: $f-helvetica-bold;
      font-size: 1.875rem;
      
    }
  }
  h3{
    font-family: $f-oldstandard;
    font-size: 2.875;
    margin: 0;
    padding: 0; 
    letter-spacing: 3px;
  }
  .arr--down {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,50%);
  }
}

