{{#org-get-started-content-line-1}}
<section class="poll">
  <a class="poll__item" href="#" style="background-image: url(assets/img/img-1.jpg);">
    <div class="poll__item__title">
      <h2>Enjoy Solo</h2>
    </div>
  </a>
  <a class="poll__item" href="#" style="background-image: url(assets/img/img-2.jpg);" data-js="clip-it">
    <div class="poll__item__title">
      <h2>Family First</h2>
    </div>
  </a>
  <a class="poll__item" href="#" style="background-image: url(assets/img/img-3.jpg);" data-js="clip-it">
    <div class="poll__item__title">
      <h2>Friends/Group</h2>
    </div>
    <a class="poll__item" href="#" style="background-image: url(assets/img/img-4.jpg);">
      <div class="poll__item__title">
        <h2>Love is in the Air </h2>

      </div>
    </a>
</section>

<section class="canvass-1" style="background-image:url(assets/img/canwas-1.jpg)">
  <div class="my-select ">
    <div class="canvass-1__content">
      <div class="row" style="display:flex; justify-content:flex-end; align-items:flex-end;">
        <div class="canvass-1__content__select col-12 col-lg-3">

          <div class="canvass-1-title ">
            <h2>No. of travelers:</h2>
          </div>
          <div class="style-1">
            <div class="select-container">
              <select>
                <option selected> Select Box </option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3 - Exceptionally Long</option>
              </select>
            </div>
          </div>

        </div>

        <div class=" next-arrow-block  col-12 col-lg-4">
          <a href="#" class="btn btn--default canvass-btn-next">next <i class="fa fa-chevron-right"></i></a>
        </div>

      </div>

    </div>
    
    <div class="canvass-1__content">
      <div class=" next-arrow-block  col-12 col-lg-4">
        <a href="#" class="btn btn--default canvass-btn-next">next <i class="fa fa-chevron-right"></i></a>
      </div>

    </div>
  </div>
</section>

<section class="canvass-1" style="background-image:url(assets/img/get-started-friends.jpg)">
  <div class="my-select ">
    <div class="canvass-1__content">

      <div class="row canvass-1__content__main d-flex dlex-column">
        <div class="canvass-1__content__main__info col-12 col-lg-4">

          <div class="canvass-1-title ">
            <h2>Types of cuisine do you prefer:</h2>
          </div>

          <div class="style-1">
            <div class="select-container">
              <select>
                <option selected> Select Box </option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3 - Exceptionally Long</option>
              </select>
            </div>
          </div>

          <div class="canvass-1-radio-btn">
            <form class="filter-form-style" action="#">
              <p>
                <input type="checkbox" id="test1" />
                <label for="test1">*Please tick here if you prefer Halal Food. </label>
              </p>
            </form>
          </div>

        </div>

        <div class=" next-arrow-block  col-12 col-lg-4 d-flex flex-row ">
          <a href="#" class="canvass-btn-prew"><i class="fas fa-chevron-left"></i></a>
          <a href="#" class="btn btn--default canvass-btn-next">next <i class="fa fa-chevron-right"></i></a>
        </div>

      </div>

    </div>
  </div>
</section>

<section  class="canvass-1" style="background-image:url(assets/img/get-started-friends.jpg)">
  <div class="my-select ">
    <div class="canvass-1__content">
      <div class="last-step">
        <form action="" class="filter-form-style last-step__form">
          <h2>What should I call you?</h2>

        <div class="last-step__form__input">
          <p>
              
              <input type="radio" id="radio01" name="radio" />
              <label for="radio01"><span></span>Mr</label>
          </p>
          <p>
          
              <input type="radio" id="radio02" name="radio" />
              <label for="radio02"><span></span>Mrs</label>
          </p>
          <p>
           
              <input type="radio" id="radio03" name="radio" />
              <label for="radio03"><span></span>Ms</label>
          </p>
        </div> 
              
            <h2>How contact you?</h2>

            <div class="d-flex flex-row flex-wrap">
            <input type="text" class="name-input" id="input-name" placeholder="First Name">
            <input type="text" class="last-name-input" id="input-name" placeholder="Last Name">
            <input type="email" class="email-input" id="input-email" placeholder="Email">
          </div>

            
            <div class="style-1">
            <div class="select-container">
                <h2>When to call you? </h2>
              <select>
                <option selected> 11:00 - 12:00 </option>
                <option> 11:00 - 12:00 </option>
                <option> 12:00 - 14:00 </option>
                <option> 14:00 - 1:00</option>
              </select>

            </div>
          </div>
        
          <div class="send-button">
              <a href="#" class="btn btn--default enquiry-btn">send enquiry</a>   
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
{{/org-get-started-content-line-1}}