{{#org-get-started-content-line-1}}
<section class="poll">
  <a class="poll__item" href="#" style="background-image: url(assets/img/img-1.jpg);">
    <div class="poll__item__title">
      <h2>Enjoy Solo</h2>
    </div>
  </a>
  <a class="poll__item" href="#" style="background-image: url(assets/img/img-2.jpg);" data-js="clip-it">
    <div class="poll__item__title">
      <h2>Family First</h2>
    </div>
  </a>
  <a class="poll__item" href="#" style="background-image: url(assets/img/img-3.jpg);" data-js="clip-it">
    <div class="poll__item__title">
      <h2>Friends/Group</h2>
    </div>
    <a class="poll__item" href="#" style="background-image: url(assets/img/img-4.jpg);">
      <div class="poll__item__title">
        <h2>Love is in the Air </h2>
        <!-- <p>“Honeymoon,
          Romance Getaway,
          Anniversary”
        </p> -->
      </div>
    </a>
</section>
{{/org-get-started-content-line-1}}