{{#org-header}}
<header class="header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-4 col-lg-3">
        <a href="#">
          <img src="assets/img/logo-well-planned.png" alt="logo">
        </a>
      </div>
      <div class="col-4 col-lg-9 text-right">
      {{> ../molecules/main-nav}}
      <a href="#" class="btn btn--default">get started</a>
      </div>
      <div class="col-4 col-lg-2 d-lg-none">
        <a href="#" class="btn btn--default">get started</a>
      </div>
    </div>

  </div>
</header>
{{/org-header}}


