{{#org-home-content-line-2}}

<section class="content-line-2">
  <div class="container">
    <div class="row justify-content-center">

     {{> ../molecules/content-info-line2}}

      <div class="content-line-2__image col-12 col-lg-6">
        <img src="assets/img/itali-img.jpg" alt="img">
      </div>

    </div>
  </div>
</section>

{{/org-home-content-line-2}}