{{#org-main-baner}}
<section class="main-baner" style="background-image:url({{{baner-block-bg}}});">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12 text-center">
        <div class="animatio-1">

          {{#litle-title}}
          <h5 class="{{{home-top-title}}}">{{{title-h5}}}</h5>
          {{/litle-title}}

          {{#first-title}}
          <h2 class="{{{class-name}}} ">{{{title}}}</h2>
          {{/first-title}}

          {{#content}}
          <p>{{{content-1}}}</p>
          {{/content}}

          {{#last-title}}
          <h3>{{{title}}}</h3>
          {{/last-title}}

          {{#started-btn}}
          <a href="{{{url}}}" class="btn btn--default {{{upgrade-default-btn}}}">get started</a>
          {{/started-btn}}

        </div>
      </div>
    </div>
  </div>
  {{#down-button}}
  <a href="#" class="arr arr--down"></a>
  {{/down-button}}
</section>
{{/org-main-baner}}