{{#org-main-baner}}
<section class="main-baner" style="background-image:url(assets/img/home-slide.png);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 text-center">
        <div class="animatio-1">
          <h2>Hello!</h2>
          <p><b>I see you there!</b> You look like you`ve been daydreaming 
              about a relaxing trip to Fiji! 
              Or maybe a romantic getaway to Paris? No? 
              An awesome adventure to Machu Picchu? 
              OR maybe you`re sofed up with all work, life responsibilitise 
              and want to do them all! 
          </p>
          <h3>We`re Well Planned, so you don`t have to be!</h3>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="arr arr--down"></a>
</section>
{{/org-main-baner}}