{{#org-our-story-content-line-1}}
<section class="our-story">
  <div class="container text-center">
    <div class="our-story__dotted col-12 text-center">
      <div class="our-story__dotted__dot"></div>
      <div class="our-story__dotted__dot"></div>
      <div class="our-story__dotted__dot"></div>
    </div>
    <div class="our-story__description">
     {{> ../molecules/our-story-line-1-description}}
    </div>
  </div>
</section>
{{/org-our-story-content-line-1}}