{{#org-subscribe-block}}
<section class="subscribe">
  <div class="container">
    <h2>Subscribe</h2>
    <form class="subscribe__form">
      <input type="email" placeholder="Email address" class="email-form">
      <input type="submit" value="відправити" class="btn btn--default">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dolorem nam, iure suscipit totam laborum quis
        in doloremque, qui quisquam fuga id atque accusantium rem sit corporis labore tenetur pariatur.
      </p>
    </form>
  </div>
</section>
{{/org-subscribe-block}}